*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.nav_bar{
	display: flex;
	align-items: center;
	position: relative;
	top: 50px;
	right: 200px;
}
.logo{
	position: relative;
	left: -250px;
	top: -50px;
}
nav{
	flex: 1.5;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: #404040;
}
p{
	color: #404040;
}
.header .Row{
	margin-top: 75px;
}
.cart{
	position: relative;
	right: -100px;
	margin-right: -295px;
	top: 6.5px;
}
.cont{
	height: 920px;
	max-width: 1300px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}
.cont2{
	height: 400px;
	max-width: 1300px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}
._logo_{
	margin-left: -250px;
}
.main_image{
	position: relative;
	right: -305px;
	top: -125px;
}
.Row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Row::after{
	content: "";
  clear: both;
  display: table;
}
.header{
	background: #cecece;
}
.advertise_text{
	position: relative;
	left: -140px;
	top: -130px;
	font-size: 45px;
}
._categories_{
	margin: 75px 0;
}
.cool-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 27px;
	height: 590px;
}
.img {
	width: 100%;
}
.column{
	float: left;
  width: 33.33%;
  padding: 5px;	
}
.cool_3_text{
	width: 200px;
	height: 580px;
}
.ratings{
	position: relative;
}
.cool-4{
	flex-basis: 25%;
	padding: 12px;
	min-width: 200px;
	margin-bottom: 55px;
	transition: transform 0.5s;
}
.ratings2{
	position: relative;
	top: -240px;
}
.users{
	position: relative;
	top: -240px;
}
.cool-4 img{
	width: 100%;
}
.button{
	font-size: 25px;
	position: relative;
	top: -105px;
	left: -145px;
	display: inline-block;
	background: #000000;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 35px;
	transition: background 0.5s;
}
.ul{
	position: relative;
	top: 10px;
	right: -70px;
}
.button:hover{
	background: #333333;
}
.button2{
	position: relative;
	top: 15px;
	left: 170px;
	font-size: 20px;
	display: inline-block;
	background: #000000;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 35px;
	transition: background 0.5s;
}
.button2:hover{
	background: #333333;
}
.lilcont{
	max-width: 1090px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}
.model{
	position: relative;
	left: -230px;
	width: 500px;
	height: 500p;
}
._title_{
	text-align: center;
	margin: 0 auto 75px;
	position: relative;
	line-height: 55px;
	color: #555;
}
.offer_text{
	position: relative;
	left: 180px;
	top: -5px;
	font-size: 22px;
}
.sale_text{
	position: relative;
	top: -50px;
	left: 180px;
	font-size: 26px;
}
h4{
	color: #555;
	font-weight: normal;
}
.cool-4:hover{
	transform: translateY(-8px);
}
.cool-4 p {
	font-style: 16px;	
}
._title_::after{
	content: '';
	background: #ff0000;
	width: 75px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.ratings .fa{
	color:  #ff0000;
}
.ratings2 .fa{
	color:  #ff0000;
}
.user_name{
	position: relative;
	top: -230px;
}
small{
	position: relative;
	top: -100px;
	font-size: 17px;
	color: #555;
}
._offer_{
	background-color: #cecece;
	margin-top: 85px;
	padding: 30px 0;	
}
.test{
	padding-top: 105px;
}
.test .cool-3{
	height: 650px;
	text-align: center;
	padding: 35px 20px;
	box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.test .cool-3 img{
	width: 50px;
	margin-top: 25px;
	border-radius: 50%;
}
.test .cool-3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	font-size: 37px;
	color: #ff523b;
}
.test .cool-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 17px;
}
.cool-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
._brands_{
	margin: 105px auto;
}
.cool-5{
	width: 170px;
}
.cool-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.cool-5 img:hover{
	filter: grayscale(0);
}
.foot{
	background: #000;
	color: #8a8a8a;
	font-size: 16px;
	padding: 62px 0 20px;
}
.foot p{
	color: #8a8a8a;
}
.foot h3{
	color: #fff;
	margin-bottom: 20px;
}
.foot_cool-1, .foot_cool-2, .foot_cool-3, .foot_Scool-4{
	min-width: 250px;
	margin-bottom: 25px;
}
.foot_cool-1{
	flex-basis: 30%;
}
.foot_cool-2{
	flex: 1;
	text-align: center;
}
.foot_cool-3, .foot_cool-4 {
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.applogo{
	margin-top: 25px;
}

.foot hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}


@media only screen and (max-width: 1024px){
	.logo{
		position: relative;
		left: -40px;
		top: 25px;
	}
	.ul{
		position: absolute;
		right: -170px;
		top: 15px;
		font-size: 55px;
	}
	.cart{
		position: absolute;
		right: 100px;
		top: 50px;
	}

	.button{
		font-size: 29px;
		position: relative;
		top: 340px;
		left: -65px;
	}
	._title_{
		font-size: 38px;
	}
	.product_name{
		font-size: 23px;
	}
	.ratings{
		font-size: 22px;
	}
	.product_price{
		font-size: 23px;
		font-weight: bold;
	}
	.sale_text{
		font-size: 30px;
		position: relative;
		top: 15px;
		left: 0px
	}
	.button2{
		font-size: 27.5px;
		position: relative;
		top: 50px;
		left: -10px;
	}
	.offer_text{
		position: relative;
		left: 0px;
		top: 35px;
		font-size: 21.5px;
	}
	.cool-3{
		font-size: 19px;
	}
	.ratings2{
		position: relative;
		top: -140px;
	}
	.users{
		height: 40px;
		width: 50px;
		position: relative;
		top: -155px;
	}
	.user_name{
		position: relative;
		top: -150px;
	}
	.main_image{
		position: relative;
		left: -205px;
		top: -200px;
		width: 10px;
		height: 10px;
	}
	.advertise_text{
		position: relative;
		font-size: 35px;
		position: relative;
		top: 340px;
		left: -60px;
	}
	.model{
		position: relative;
		top: 30px;
		left: -60px;
		width: 400px;
		height: 550px;
	}
}